@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        <div class="center">
            Описание самой клевой соцсети
        </div>
        <img class="main-img" src="https://png.klev.club/uploads/posts/2024-05/png-klev-club-c9ew-p-oko-saurona-png-17.png" />
    </div>


    <div class="main">
        блок авторизации
        блок регистрации
        <partial name="Register" />
    </div>
</div>>
